.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 320px;
  max-width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: -2px 2px 78px 10px rgba(0,0,0,0.78);
  -moz-box-shadow: -2px 2px 78px 10px rgba(0,0,0,0.78);
  box-shadow: -2px 2px 78px 10px rgba(0,0,0,0.78);
  position: absolute;
  top: 25%;
  left: 40%;
}
.top-pop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-pop span{
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.popup h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  margin-right: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.popup input,
textarea,
select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.popup button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.popup button:hover {
  background-color: #0056b3;
}
