.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #070101;
  color: white;
  font-family: sans-serif;
}
.nav img{
  width: 100px;
  height: 100px;
}
.logo-icon span{
  color: violet;
}
.route{
  margin-right: 40px;
}
.route a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
}

.route a:hover {
  color: #33b4c3;
}

.route a:last-child {
  margin-right: 0;
}

.route a svg {
  vertical-align: middle;
}
.route .search{
  font-size: 18px;
}
.route a.active {
  color: #33b4c3; 
  font-weight: bold; 
}
@media (max-width:568px){
    .route{
      display: none;
    }
}